<div id="follow-icons">
    <a href="https://github.com/vallode"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://twitter.com/Vallode_"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="mailto:vallode@hotmail.co.uk"><i class="fas fa-envelope fa-2x"></i></a>
    <a href="{{@blog.url}}/rss"><i class="fas fa-rss fa-2x"></i></a>
</div>

<!--
<a href="http://facebook.com/username"><i class="fab fa-facebook-f fa-2x"></i></a>
<a href="http://github.com/username"><i class="fa fa-github-square fa-2x"></i></a>
<a href="http://plus.google.com/+username"><i class="fa fa-google-plus-square fa-2x"></i></a>
<a href="http://instagram.com/username"><i class="fa fa-instagram fa-2x"></i></a>
<a href="http://vimeo.com/username"><i class="fa fa-vimeo-square fa-2x"></i></a>
<a href="http://youtube.com/username"><i class="fa fa-youtube-square fa-2x"></i></a>
<a href="http://flickr.com/username"><i class="fa fa-flickr fa-2x"></i></a>
<a href="http://pinterest.com/username"><i class="fa fa-pinterest-square fa-2x"></i></a>
<a href="http://username.tumblr.com"><i class="fa fa-tumblr-square fa-2x"></i></a>
-->